body,html{
	height:100%;
}

body{
	padding-top:50px;
	position:relative;
  background-color:#fdfdfd;
}

.row{
	margin:30px;
	background-color:#fdfdfd;

	
}

.SEO_Logo{
	background-image:url('seo_image.jpg');
}